.button {
  height: 60px;
  width: 387px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 500;
  line-height: 24.42px;
  background: #62a1eb;
  color: white;
  padding: 18px, 60px, 18px, 60px;
  cursor: pointer;
  gap: 20px;
  border: none;
  font-size: 20px;
  border-radius: 8px;
}

.button:hover,
.button:active {
  background: #741188;
}
