.choosebar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.innerChoose {
  width: 25rem;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.customerInfo {
  position: relative;
  font-weight: 700;
  font-size: 15px;
  line-height: 24px;
  color: #232323;
  cursor: pointer;
  background-color: white;
}
.customerInfo2 {
  font-weight: 700;
  font-size: 15px;
  line-height: 24px;
  color: #232323;
  cursor: pointer;
  background-color: white;
}

.customerInfo::after {
  content: "";
  position: absolute;
  transition: all 1s ease;
  left: 0;
  height: 3px;
  background-color: black;
  bottom: -10px;
  width: 100%;
}

/* .customerInfo:hover::after {
  width: 100%;
} */

.backBtn {
  margin: 10px;
}

/* ====================FORM==================== */
.mainForm {
  margin-left: 50%;
  transform: translate(-51%);
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  justify-content: space-evenly;
  border: 2px solid green;
  height: 50rem;
}

.nmsr {
  width: 35rem;
  height: 6.5rem;
  border: 2px solid red;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.mailNum {
  width: 50rem;
  height: 6.5rem;
  border: 2px solid red;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.nmsr span {
  font-weight: bold;
}

text {
  font-size: 10px;
}

.selectTheme {
  width: 878px;
  height: 60px;
  background: #ebebeb;
  border-radius: 8px;
  font-weight: bold;
  color: black;
  font-size: 18px;
  border: none;
  outline: none;
}

.selects {
  width: 100%;
  justify-content: space-around;
  align-items: center;
  display: flex;
  flex-direction: column;
  border: 2px solid orange;
  height: 15rem;
}

.mailInp,
.telInp {
  width: 50rem;
}

.btn {
  width: 10rem;
}
