.choosebar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.innerChoose {
  width: 25rem;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.customerInfo {
  position: relative;
  font-weight: 700;
  font-size: 15px;
  line-height: 24px;
  color: #232323;
  cursor: pointer;
  background-color: white;
  background-color: #ebe4e4e5;
}
.customerInfo2 {
  font-weight: 700;
  font-size: 15px;
  line-height: 24px;
  color: #232323;
  cursor: pointer;
  background-color: white;
  background-color: #ebe4e4e5;
}

.customerInfo::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  height: 3px;
  background-color: black;
  bottom: -10px;
  width: 80%;
}

.backBtn {
  margin: 10px;
  width: 3rem;
  font-size: 0.8rem;
  height: auto;
  font-family: "Helvetica Neue";
}

.mainBackground {
  background-color: #ebe4e4e5;
  height: 100vh;
}
